/* Start Menu */

#game-title {
    font-family: 'Nunito';
    font-size: 500%;
    width: 90%;
    margin-top: 10%;
}

#instructions {
    font-family: 'Nunito';
    font-size: 200%;
    margin-top: 10%;
}

/* Interface */

#interface {
    display: none;
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 100px;
}

#ans-btns {
    /* padding-top: 5%; */
}

#ans1, #ans2, #ans3, #ans4 {
    font-family: 'Nunito';
    font-size: 30px;
    margin: 20px 0 20px 0;
}

#timer-numbers {
    font-family: 'Roboto Mono', monospace;
    font-size: 2000%;;
    line-height: 300px;
}

/* Answer Reveal */

#reveal {
    display: none;
}

#reveal-text {
    font-family: 'Nunito';
    font-size: 500%;
}

#reveal-musical-image {
    width: 80%;
    padding: 5% 0 10% 0;
}

#reveal-muscial-answer, #reveal-muscial {
    font-family: 'Nunito';
    font-size: 200%;
}

/* Media Query */

@media screen and (max-width: 575px) {

    #image {
        display: none;
    }

}